/* MEDIA QUERYS */
/* // Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {
  
}

/* // Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
}

/* // Medium devices (tablets, 768px and up) */
@media screen and (max-width: 768px) {
    .container_Footer {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas:" services_Footer   services_Footer       "
                            " links_Footer      socialNetworks_Footer ";
    }
}

/* // Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) { 
}