/* CONTENEDOR PRINCIPAL ABOUT US */
.container_AboutUs {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(5, auto);
    grid-gap: 20px;
    grid-template-areas: " header               header           " 
                         " section1_AboutUs     section1_AboutUs "
                         " mision_AboutUs       article1_AboutUs "
                         " vision_AboutUs       article2_AboutUs "
                         " footer               footer  ";
}

.section_Principal_AboutUs {
    grid-area: section1_AboutUs;
    background: rgba(0, 0, 0, 0.7);
    min-height: 400px;
}

.mision_AboutUs {
    grid-area: mision_AboutUs;
}
.vision_AboutUs {
    grid-area: vision_AboutUs;
}
.square_AboutUs {
    min-height: 300px;
    background: rgba(0, 0, 0, 0.5);
}

.article_top_AboutUs {
    grid-area: article1_AboutUs;
}
.article_bottom_AboutUs {
    grid-area: article2_AboutUs;
}
.article_AboutUs {
    min-height: 400px;
    background: rgba(0, 0, 0, 0.6);
}
