/* CONTENEDOR PRINCIPAL ABOUT US */
.container_AboutUs {
    /* GENERALES */
    text-align: justify;
    font-size: 1.2rem;
    line-height: 30px;
    padding: 0 80px;
    /* GRID */
    display: grid;
    grid-gap: 60px;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: repeat(2, auto);
    grid-template-areas: " preface_AboutUs  preface_AboutUs "
                         " mision_AboutUs   vision_AboutUs  " ;
}

/* SECCIÓN PRINCIPAL */
.preface_AboutUs {
    grid-area: preface_AboutUs;  
    margin-top: 20px;
}
.img_AboutUs {
    width: 100%;
    border-radius: 5px;
}

/* MISION - ABOUT_US */
.mision_AboutUs {
    grid-area: mision_AboutUs;
    /* GRID */
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-template-areas:"title_mision_AboutUs   title_mision_AboutUs  "
                        "one_mision_AboutUs     one2_mision_AboutUs   "
                        "two_mision_AboutUs     two_mision_AboutUs   "
                        "three_mision_AboutUs   three2_mision_AboutUs ";
}

/* VISION - ABOUT_US */
.vision_AboutUs {
    grid-area: vision_AboutUs;
    text-align: center;
}


