body
{
    margin: 0;
    padding: 0;
    font-family: "Lato",sans-serif;
    user-select: none;
}
.container_Home{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-template-areas: " header       header      header      header "
                         " poster       poster      poster      poster "
                         " clock        clock       clock       clock  "
                         " footer       footer      footer      footer ";
}

