body
{
    margin: 0;
    padding: 0;
    font-family: "Lato",sans-serif;
    user-select: none;
}
.container_Home{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    grid-template-areas: " poster "
                         " clock  " ;
}

