.container_Clock {
    grid-area: clock;
    min-height: 150px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.title_Clock {
    font-size: 1.8rem;
    letter-spacing: 6px;
    text-transform: uppercase;
}
.containerSquares_Clock {
    display: flex;
    font-size: 2.5rem;
}
.squareTime_Clock {
    margin: 0 15px;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.squareTimeText_Clock {
    font-size: 0.8rem;
}
