.container_Footer {
    grid-area: footer;

    padding: 20px;
    min-height: 80px;
    background: #e6e6e6;

    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.container_Footer > img {
    width: 40px;
}