/* ESTILOS DEL CONTENEDOR DEL HEADER */
.container_Header {
  /* GENERALES */
  font-size: 1.1rem;
  background: white;
  margin-bottom: 20px;
  /* GRID */
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: minmax(13vh, auto);
  grid-template-areas: "logo_Header nav_Header login_Header";
  /* SOMBRAS HEADER */
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.6);
}

/* ESTILOS IMAGENES - HEADER */
.img_container_Header {
  grid-area: logo_Header;

  display: flex;
  justify-content: center;
  align-items: center;
}
/* ESTILOS LOGOTIPO */
.img_logo_Header {
  width: 53px;
  cursor: pointer;
}

/* LOGIN HEADER */
.login_Header {
  grid-area: login_Header;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* MENU HEADER */
.menu_main_Header {
  margin: 0;
  padding: 0;
}
/* NAV RESPONSIVE */
.hamburguer_nav_Header {
  display: none;
}

