/* ESTILOS DEL CONTENEDOR DEL HEADER */
.container_Header {
  /* GRID */
  grid-area: header;
  /* GENERALES */
  background: white;
  /* GRID */
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: minmax(85px, auto);
  grid-template-areas: "logotipo nav";
  /* SOMBRAS HEADER */
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.6);
}

/* ESTILOS IMAGENES - HEADER */
.img_container_Header {
  grid-area: logotipo;

  display: flex;
  justify-content: center;
  align-self: center;
}
/* ESTILOS LOGOTIPO */
.img_logo_Header {
  width: 3.1rem;
  cursor: pointer;
}

/* ESTILOS BARRA DE NAVEGACIÓN */
.nav_Header {
  grid-area: nav;
  padding: 0 15%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  /* ALTURA MINIMA - HEADER */
  min-height: 50px;
}
.ministry_Header {
  font-weight: bold;
}
.nav_Header li {
  font-family: "Roboto", sans-serif;

  list-style: none;
  letter-spacing: 2px;

  cursor: pointer;
}
.nav_Header li a{
  color: black;
  text-decoration: none;
}
.nav_Header li a:active {
  color: black;
}
.nav_Header li:hover {
  color: #4e5258;
  transition: 0.4s;
}

/* MEDIA QUERYS */
/* // Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {
  
}

/* // Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
  html {
    font-size: 10px;
  }
  .nav_Header {
    padding: 0;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
  
}

/* // Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) { 

}
