/* CONTENEDOR POSRTER */
.container_Poster {
  grid-area: poster;
  min-height: 670px;
}
/* IMAGENES POSTER */
.img_Poster {
  width: 100%;
  height: 670px;
  position: absolute;
}

.img_Poster_1 {
  animation: fade1 20s infinite;
}
.img_Poster_2 {
  animation: fade2 20s infinite;
}
.img_Poster_3 {
  animation: fade3 20s infinite;
}

@keyframes fade1 
{
  0%
  {
    opacity: 1;
  }  
  25%
  {
    opacity: 0;
  }
  75%
  {
    opacity: 0;
  }
  100%
  {
    opacity: 1;
  }
}
@keyframes fade2 
{
  0%
  {
    opacity: 0;
  }  
  25%
  {
    opacity: 1;
  }
  75%
  {
    opacity: 0;
  }
  100%
  {
    opacity: 0;
  }
}
@keyframes fade3 
{
  0%
  {
    opacity: 0;
  }  
  25%
  {
    opacity: 0;
  }
  75%
  {
    opacity: 1;
  }
  100%
  {
    opacity: 0;
  }
}
