body
{
    margin: 0;
    padding: 0;
    font-family: "Lato",sans-serif;
    user-select: none;
}
input {
    border: none;
    border-bottom: 1px solid black;
    outline: none;
}
button {
    border: none;
    outline: none;
}
